<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
  <title>Hlavní stránka eshop</title>
</head>
<body>

<ul>
    <li><a href="{% url 'main' %}">Hlavní stránka</a>
    <li><a href="{% url 'kategorie' %}">kategorie</a>
    <li><a href="{% url 'produkty' %}">produkty</a>

    {% if user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{% url 'userpage' %}">Uživatel: {{user.username}}</a></li>

  <li class="nav-item"><form action= "{% url 'logout' %}" method="POST" >
    {% csrf_token %}<input type = "submit" value = "Logout {{user.username}}"></form></li>

     {% else %}

    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Login </a></li>

     {% endif %}
</ul>

{% block content %}

{% endblock %}

</body>
</html>