{% extends 'base.html' %}

{% block content %}
<h1>Potvrzení objednávky</h1>

<p>Děkujeme, že jste se rozhodli pro nákup u nás!</p>
<p>Prosím, zkontrolujte své údaje a potvrďte objednávku.</p>



{% for cart_item in name %}
{{ cart_item.product.name }} <br>
{% endfor %}

<!-- Zde můžete přidat formuláře nebo další informace potřebné pro checkout -->
<form method="POST" action="{% url 'invoice' %}">
    {% csrf_token %}
    <p>Celková cena objednávky je: {{ total_price }} Kč</p>
    <button type="submit">dokončit a smazat košík</button>
</form>


{% endblock %}