 {% extends 'base.html' %}

    {% block content %}
    {% if category != None %}
        <h1>Kategorie {{ category.name }}</h1>
    {% else %}
        <h1>Kategorie</h1>
    {% endif %}

    <p>Kategorie produktů:</p>


    <ul>
        {% if all_categories != None %}
            {% for categorie in all_categories %}
                <li>{{ categorie.name }}</li> <!-- Oprava jména proměnné -->
            {% endfor %}
        {% endif %}
    </ul>

    <h2>Nalezené produkty</h2>
    <ul>
         {% for product in products %}
        <li>
            {{product.name}}
        </li>
         {% endfor %}
    </ul>
 {% endblock %}