 {% extends 'base.html' %}

    {% block content %}
    {% if category != None %}
        <h1>Kategorie {{ category.name }}</h1>
    {% else %}
        <h1>Kategorie</h1>
    {% endif %}

    <p>Kategorie produktů:</p>

    <ul>
        {% if all_categories != None %}
            {% for categorie in all_categories %}
                <a href="/kategorie?id={{categorie.pk}}" class="btn btn-dark" >{{ categorie.name }}</a>
            {% endfor %}
        {% endif %}
    </ul>

  <div class="card" style="width: 18rem;">
  <div class="card-header">
    Nalezené produkty
  </div>
  <ul class="list-group list-group-flush">
      {% for product in products %}
    <li class="list-group-item">{{product.name}}</li>
      {% endfor %}
  </ul>
</div>
 {% endblock %}