<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Hlavní stránka eshop</title>
</head>
<body>
    <h1>Vítejte na eshopu!</h1>
    <p>Zde múžete pořídit vše na kempování.</p>

    <h2>Kategorie:</h2>
    <ul>
        {% for categorie in all_categories %}
            <li>{{ categorie.name }}</li> <!-- Oprava jména proměnné -->
        {% endfor %}
    </ul>

    <h3>Produkty:</h3>
    <ul>
        {% for product in all_products %}
            <li>{{ product.category_ID}} -{{product.products_of_categories}} -{{product.name}}</li> <!-- Oprava jména proměnné -->
        {% endfor %}
    </ul>
</body>
</html>
