{% extends 'base.html' %}

{% block content %}
    <h1>Produkty</h1>
    <p>V produktech můžete najít všechny položky, které aktuálně nabízíme k vaší spokojenosti.</p>

    <h2>Co můžeme nabídnout:</h2>

     <a href="{% url 'create_product' %}">Přidat další produkt</a>

    <ul>
        {% for product in all_products %}
            <li>{{ product.category_ID }} / {{ product.products_of_categories }} / {{ product.name }}</li>
            Benefit {% for feature in product.features.all %}{{feature.feature_name}}{% endfor %}

            <a href="{% url 'update_product' product.pk %}">Úprava produktu</a>
            <a href="{% url 'delete_product' product.pk %}">Smazat produkt</a>

        {% endfor %}
    </ul>

{% endblock %}